header {
  background: black;
  color: white;
  text-align: center;
  padding: 10px 15px;
}

section {
  float: left;
  padding-right: 30px;

}

div{
  overflow: auto;
}

p {
  padding-left: 20px;
  float: right;
  font-size: 15px;
  width: 500px;
}

.test{
  float: right;
}
